.text-shadow {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
	line-height: 2;
	color: white;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #8bc34a;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #33691e;
}

.datepicker-date-display {
	background-color: #33691e;
}

.btn-small {
	margin: 5px;
}

.collapsible-header .col strong {
	margin: 5px;
	line-height: 42px;
}

.card-panel {
	margin: 5rem auto;
}